<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="NumberConversionSoapBinding">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
            <customBinding>
                <binding name="NumberConversionSoapBinding12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://www.dataaccess.com/webservicesserver/numberconversion.wso"
                binding="basicHttpBinding" bindingConfiguration="NumberConversionSoapBinding"
                contract="NumberConversionSoapType" name="NumberConversionSoap" />
            <endpoint address="https://www.dataaccess.com/webservicesserver/numberconversion.wso"
                binding="customBinding" bindingConfiguration="NumberConversionSoapBinding12"
                contract="NumberConversionSoapType" name="NumberConversionSoap12" />
        </client>
    </system.serviceModel>
</configuration>